/* styling for RANIA TOURS AND TRAVEL WEBSITE*/


body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;

}

/* styling for top-header-->*/
.rania-top-header {
    background-color: #09558d;
}

.rania-top-header p {
    font-size: 24px;
}


.main-header {
    margin: 22px;
}
.main-header img
{
    width: 100%;
}

.rania-top-header p {
    padding: 12px;
    color: #fff;
    font-size: 12px;
    height: 40px;

}

.logo-text {

    font-family: Serif;
    width: 100%;
    font-size: 22px;
    color: orange;
}

.logo-text p {
    width: 100%;
    font-size: 34px;
}

.rania-top-header h3 {
    right: 12px;

    text-align: right;
    padding: 15px;
    color: #fff;
    font-size: 5px;
    top: 0;
    font-size: 16px;
    height: 44px;
}


.logo-text {
    margin: auto;
    text-align: center;
}

.social-media ul {
    text-decoration: none;
}

.social-media ul li {
    display: inline-block;
    padding: 2px 9px 0px 12px;
}

.social-media a {
    color: #fff;
}

.social-media a i {
    color: #fff;
    top: 0;
    height: 44px;
    color: #fff;
}

ul {
    list-style: none;
}

.rania-navbar ul li {
    display: inline-block;
    padding: 5px;
}

.rania-navbar ul li a {
    text-decoration: none;
    color: #77787b;
    font-size: 13px;

}

.navbar-nav {
    font-size: 12px;
}

.navbar-nav ul {
    text-decoration: none;
}

.slider {
    position: relative;
    width: 100%;


}

.slider img {
    width: 100%;
    height: auto;
}

.slider-text {
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.slider-text h2 {
    font-size: 40px;
    padding-top: 70px;
    color: #fff;
    text-align: center;
    height: 100%;
}

.slider-text h2 a {
    color: #fff;
}

.slider-content {
    position: absolute;
    width: 100%;
    top: 150px;
    right: 0px;
    text-align: center;
    color: #fff;
}

.slider-content p {
    font-size: 25px;
}

.fas fa-angle-down {
    float: right;
}

.form img {
    width: 100%;
}

.promotion {
    text-align: center;
}

.promotion h1 {
    color: #09558d;
}

.travel-deals2 {
    margin: 10px;
}

.logo-deal img {
    width: 200px;
}

.horzintal {
    width: 50%;
    border: 1px solid #000;
}

.deal-logo {

    margin-top: 30px;
}

.deal-logo img {
    width: 100%;
    height: 100%;
}

.deal-text {
    text-align: left;
    color: #fff;
}

.card-body {
    background-color: gray;
}

.card-body h2 a {
    color: #fff;
}

.text-footer {
    width: 100%;
}

.text-footer p {
    color: #fff;
}

.text-footer a {
    color: #fff;
}


.Arrival {
    margin: 50px;
}

.Arrival a {
    color: #09558d;
    text-align: center;
}

.Arrival h2 {
    color: #09558d;
    text-align: center;
}

.Arrival p {
    color: #656565;
}

.section-1 {
    width: 100%;
    background-image: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.n-box {
    margin-bottom: 20px;
}

.box {
    height: 600px;
}

.event-img img {
    width: 100%;
    height: 100%;
}

.events-box {
    width: 99%;
}

.events {
    background-color: #fff;
}

.events h2 {
    font-size: 35px;
    color: #09558d;
    text-align: center;
}

.n-box {
    transition: all 1.5s ease;
}

.n-box:hover {
    transform: scale(1.1);
}

.news-content {
    transition: all 1.5s ease;

}

.news-content img {
    width: 100%;
}

#card-body {
    background-color: #435363;
}

.news-content {
    width: 100%;
}

.events h1 {
    text-align: center;
    color: #09558d;
}

.events p {
    font-size: 15px;
    color: gray;
}

.event-content {
    background-color: gray;
    height: 70px;
    color: #fff;
}

.event-content p {
    padding: 10px;
    color: #fff;
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-image: rgb(0, 0, 0.5);
    position: relative;
}

#arrow {
    float: right;
}

.news-content {
    margin-bottom: 20px;
}

.news-content img {
    width: 100%;
}

.news-blogs {
    position: absolute;
    width: 100%;
    top: 390px;
    background-color: white;
}

.news-blogs h2 {
    text-align: center;
    color: #09558d;
}

.news-blogs img {
    width: 100%;
}

.card-body {
    background-color: #435363;
}

.news-header h2 {
    color: #fff;
    font-size: 15px;
}

.news-content {
    width: 100%;
}

.news-text p {
    color: #fff;
}

.compeny-brand {
    background-color: white;
    width: 100%;
}

.brand img {
    width: 100%;
    height: 100%;
}

.footer {
    padding: 40px;
    text-align: center;
    ;
    background-color: black;
}

.footer h2 {
    color: #fff;

}

.links {
    list-style-type: none;
    text-align: center;
}

.links a {
    margin: 5px;
    color: #fff;
}

.socail-text ul li {
    display: inline-block;
}

.social-text {
    padding: 20px;
}

.socail-text h2 {
    color: #fff;
    font-size: 12px;
}

.socail-text li a {
    color: #fff;
    font-size: 25px;
    padding: 10px
}

#main-content {
    padding-top: 0;
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    margin-top: 0;
    line-height: 25px;
    padding: 20px 0;
}

#block-raniatour-page-title {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0 !important;
    line-height: 55px;
    background: #f7f7f7;
    padding: 5px 10px;
}
#content {
    background: #fff;
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
#block-raniatour-content {
    padding: 20px;
}

.deal-logo {
    transition: all 1.5s ease;
}
.deal-logo img
{
    width: 100%;
    height: 250px;
}

.deal-logo:hover {
    transform: scale(1.1);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
.video
{
    padding: 20px;
}
.program-img img
{
    height: 200px;
}
#program:hover
{
    background-color: #09558d;
}
#program
{
    padding: 10px;
}

.jordan-content p
{
    color: #09558d;
    text-align: center;
}
.jordan-img
{
border:1px solid #09558d;
width:100%;
}
.jordan-img img
{
    width: 100%;
    max-height: 200px;
}
.jordan-sites
{
    padding:20px;
}
#block-webform
{
    padding: 20px;
}
.image-gallery
{
    padding: 10px;
}
.gallery-img img
{
    padding: 20px;
    background-image: url("../images/stack_bg.png");
    background-position: center;
    background-size: 235px 237px;
    margin: 0 15px  15px;
}
.gallery-text
{
    font-size: .8em;
    padding-left: 20px;
}

@media screen and (max-width: 640px) {
    .slider-text h1 {
        font-size: 37px;
        padding-top: 16px;
        color: #fff;
        text-align: center;

    }

    .slider-text h1 {
        font-size: 37px;
        padding-top: 16px;
        color: #fff;
        text-align: center;

    }

    .slider-content p {
        font-size: 15px;
    }

    .deal-logo img {
        transition: all 1.5s ease;
    }

    .deal-logo img:hover {
        transform: scale(1.3);
        box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }

}

@media screen and (max-width: 570px) {
    .main-header img {
        width: 100%;
    }

    .logo-text p {
        font-size: 15px;
        text-align: left
    }

    .navbar {
        position: relative;
        bottom: 85px;
        left: 150px;
        display: inline;
    }
}

@media screen and (max-width: 983px) {
    .navbar {
        position: relative;
        left: 150px;
        display: inline;
    }

}

@media screen and (max-width: 1300px) {
    .logo-text p {
        font-size: 20px;
    }

    .main-header img {
        width: 100%;
    }
}
