<footer>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <ul class="links">
                               {{page.footer_menu}}
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="socail-text">
                             {{page.footer_contact}}
                        </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <img src="themes/raniatour/assets/images/logo.png" class="image-responsive" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </footer>