
  <header>
      <!--start of the header-->
      <div class="rania-top-header">
          <!--start of rania top-header-->
          <div class="container">
              <!-- start of container-->
              <div class=row>
                  <!--start of row-->
                  <div class="col-md-7 col-sm-4 col-xs-12">
                      <!-- email and phone number-->
                      {{page.contact}}
                  </div>
                  <!--end of the div that holds the email and phone number-->

                  <!--end of the empty block-->
                  <div class="col-md-5 col-sm-3 col-xs-12">
                      <div class="social-media">
                          {{page.social}}
                      </div>

                      <!--end of soical media div-->
                  </div>
                  <!--end of col-md-4-->
              </div>
              <!--end of col-md-4-->
          </div>
      </div>
      <!--end of header-->
      <div class="main-header">

          <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12">
                  <img src="themes/raniatour/assets/images/logo.png" class="img-responsive">

              </div>
              <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="logo-text">
                      <p>Rania Tours is your new vision on tourism set </p>
                      <div class="rania-navbar">
                          <!-- start of the navigation-->
                          <nav class="navbar navbar-expand-lg navbar-light ">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                  <ul class="navbar-nav mr-auto">
                                      {{page.primary_nav}}

                                  </ul>
                              </div>
                          </nav>
                      </div>
                  </div>

              </div>
              <div class="col-md-2 col-sm-7 col-xs-12">
                  <div class="login" style="padding-top:70px;">
                      <p>LOGIN<a href=""><i style="margin-left:20px;  ; font-size: 15px;   color:#77787b; " class="fa fa-search"></i></a></p>
                  </div>
              </div>

          </div>
      </div>
  </header>
