{% include directory ~ '/header.html.twig' %}

<div class="slider">
    {{page.slider}}
</div>
<div class="form">
    <img src="themes/raniatour/assets/images/form.png" class="img-responsive">
</div>
<section class="promotion">
    <div class="container">
        <div class="promotion-title">
            <h1>TOP TRAVEL DEALS AND PROMOTIONS</h1>
        </div>
        <div class="travel-deals">
            {{ page.travel }}

        </div>

    </div>
    <!--end of travel deals-->
    <hr class="horzintal">
</section><!-- end of section-->
<section class="Arrival">
    <div class="container">
        {{page.arrival}}

    </div>
</section>
<div class="section-1 box"></div>
<div class="events">
    <div class="container">
        {{page.experiance}}
    </div>
    <div class="events-box">
        <div class="container">
            {{page.trips}}
        </div>
    </div>
</div>
<div class="section-2 box">
    <div class="news-blogs">
        {{page.blogs}}
        <div class="container">

            {{page.blogs2}}
        </div>

        <div class="compeny-brand">
            <div class="container">
                <div class="brand">
               {{page.brand}}
                </div>
            </div>
        </div>
   
         {% include directory ~ '/footer.html.twig' %}
    </div>
</div>