{% include directory ~ '/header.html.twig' %}
<div id="main-content">
    <div class="container">
        <div class="row">
            {% if page.related_programs  %}
            <div class="content-area col-md-8">
                <section id="content">
                    <div id="content-wrap">
                        {{page.content}}
                    </div>
                </section>
            </div>
            <aside id="sidebar" class="col-md-4">
                {{page.related_programs}}
            </aside>
            {% else %}
            <div class="content-area col-md-12">
                <section id="content">
                    <div id="content-wrap">
                        {{page.content}}
                        {{page.promotions}}
                           {{page.jordansites}}
                           {{page.booking}}
                    </div>
                </section>
            </div>

            {% endif %}

           

        </div>
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}
